:root
{
    --main-light-color: #6D6D6D;
    --main-color: #4E4C4C;
    --main-dark-color: #242323;

    --menu-color: #424141;
    --menu-title-color: #C0C0C0;
    --input-background: #2B2A2A;
    --input-light-background: #585858;
}

::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track
{
    background: var(--main-dark-color);
}

::-webkit-scrollbar-thumb
{
    background: var(--main-color);
}

::-webkit-scrollbar-thumb:hover
{
    background: var(--main-light-color);
}

*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 0;

    background-color: var(--main-dark-color);
}

.hide
{
    display: none;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 4.3em;

    margin: 0 .5em;
    margin-bottom: .25em;
    padding: 1em;
    
    border-radius: 0 0 10px 10px;
    background-color: var(--main-color);
}

#headerTitle
{
    font-size: 2em;

    margin: 0;

    color: white;
}

#headerTitle.unsaved::after
{
    content: '*';

    color: red;
}

#headerButtons
{
    display: flex;
    align-items: center;
}

#headerButtons button,
.inputLabel input[type='text']
{
    font-size: 1.5em;
    cursor: pointer;

    margin-right: .5em;
    padding: 0 .75em;

    color: white;
    border: none;
    border-radius: 5px;
    background-color: var(--input-background);
    transition: .1s linear;
}

#headerButtons button:hover
{
    background-color: var(--input-light-background);
}

#playButton
{
    width: 0;
    height: 0;
    cursor: pointer;
    
    margin-left: .75em;

    border-radius: 2px;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-left: 1.5em solid #02AC3A;
}

#editor
{
    display: flex;
    width: 100%;
}

#entityMenu
{
	min-width: 100px;
	max-height:300px;
	display: none;
	position: absolute;
	overflow-y: scroll;
	z-index: 1000;

	background-color: rgba(0,0,0,0.9);
}

#entityMenu div
{
	cursor: pointer;

	padding: 3px;
	padding-left: 8px;

	color: #fff;
	border-top: 1px solid rgba(255,255,255,0);
	border-bottom: 1px solid rgba(255,255,255,0);
	transition: 0.1s linear;
}

#entityMenu div:hover
{
	border-top: 1px solid rgba(255,255,255,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.2);
	background-color: rgba(255,255,255,0.2);
}

canvas
{
    position: absolute;
    width: 100%;
}

#mapMenu
{
    position: absolute;
    right: 0;

    margin-left: .5em;
}

#properties
{
    border-bottom-left-radius: 10px;
}

#layerContainer, #layerContainerTitle
{
    border-top-left-radius: 10px;
}

#properties,
#layerContainer
{
    z-index: 999;
    width: 20em;
    height: 100%;

    background-color: var(--menu-color);
}

#propertiesTitle,
#layerContainerTitle
{
    font-size: 1.5em;

    margin: 0;
    padding: .25em .5em;

    color: var(--menu-title-color);
    background-color: var(--main-color);
}

#layerSettings,
#entitySettings
{
	display: none;
    height: 29em;
    overflow: auto;

    padding: 1em;
}

.entityDefinition
{
    margin-bottom: 1em;

    color: white;
}

.entityDefinition *
{
    cursor: pointer;
    display: inline;
    font-size: 1.5em;

    margin: 0;
}

.entityDefinition .value
{
    margin-left: .5em;
    padding: 0 .5em;

    border-radius: 5px;
    background-color: var(--input-background);
}

.inputLabel
{
    display: flex;

    margin-bottom: .5em;
}

.inputLabel *
{
    display: inline-block;

    color: white;
}

.inputLabel input[type='text']
{
    width: 100%;

    margin-right: 0px;
    padding: 0 .25em;
}

.inputLabel input[type='text'].number
{
    width: 2em;
    text-align: right;
}

.inputLabel input[type='checkbox']
{
    width: 1em;
    height: 1em;
    cursor: pointer;

    margin: 0;
    margin-right: .5em;

    border-radius: 2px;
    background-color: #676767;
    -webkit-appearance: none; 
	transition: 0.1s linear;
}

.inputLabel input[type="checkbox"]:checked
{ 
	background-color: #9c9c9c;
}

.inputLabel input[type="checkbox"]:disabled
{
	background-color: #272727; 
}

.inputLabel label
{
    font-size: 1.5em;

    margin-right: .5em;
}

#layerButtons button
{
    cursor: pointer;
    display: block;
    font-size: 2em;

    margin: 0 auto;
    margin-bottom: .25em;
    padding: .25em .75em;

    color: white;
    border: none;
    border-radius: 5px;
    background-color: var(--main-color);
    transition: .1s linear;
}

#layerButtons button:hover
{
    background-color: var(--main-light-color);
}

#entityClass
{
    font-size: 2em;

    margin: 0;
    margin-bottom: .5em;

    color: white;
}

#layers
{
    height: 8em;
    overflow-y: auto;
}

.layer
{
    cursor: pointer;

    border-top: 1px solid var(--main-light-color);
    border-bottom: 1px solid var(--main-light-color);
    transition: .1s linear;
}

.layer:hover,
.layer:active,
.layerActive
{
    background-color: #6A6868;
}

.layer .visible
{
    cursor: pointer;
	text-indent: -99999px;
	width: .75em;
	height: .75em;
	display: inline-block;

	margin-right: 7px;
	margin-left: 4px;

    border-radius: 2px;
	background-color: var(--input-background);
	transition: 0.1s linear;
}

.layer .visible.specialVis
{
	margin-right: 2px;
}

.layer .checkedVis
{
    background-color: white;
}

.layer span.size
{
    font-size: 75%;
    color: rgba(255,255,255,0.7);
}

.layer .name
{
    font-size: 1.25em;

    color: white;
}

#buttonAddLayer
{
    cursor: pointer;
    font-size: 2.5em;
    font-weight: bold;
    width: fit-content;
    
    margin-left: auto;
    margin-right: .25em;

    color: white;
}

#zoomIndicator
{
	font-size: 300%;
	font-weight: bold;
	display: none;
	position: absolute;
	left: 50px;
	top: 30px;
    z-index: 1000;

	color: #fff;
}

/* ------------------------------- Dialog ------------------------------- */

.selectFileDialog
{
	position: absolute;
    max-height: 18.75em;
    display: none;
	overflow: hidden;
	overflow-y: scroll;

    border-radius: 0 0 10px 10px;
    background-color: var(--input-background);
	box-shadow: 0px 0px 10px black;
}

.selectFileDialog a
{
	display: block;
	text-decoration: none;

	padding: 4px;

	color: white;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.selectFileDialog a:hover
{
	border-top: 1px solid rgba(255,255,255,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.2);
	background-color: rgba(255,255,255,0.2);
}

div.modalDialogBackground
{
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

	background-color: rgba(0,0,0,0.7);
}

div.modalDialogBox
{
	width: 300px;
	position: absolute;
	top: 20%;
	left: 50%;

	margin-left: -170px;
	padding: 20px;

	border: 1px solid rgb(100,100,100);
	box-shadow: 0px 0px 10px black;
    background-color: rgba(0,0,0,0.9);
}

div.modalDialogText
{
	font-size: 180%;
	font-weight: bold;
    text-align: center;

    color: white;
}

div.modalDialogButtons
{
    width: fit-content;

    margin: 0 auto;
	margin-top: 20px;
}

div.modalDialogButtons input.button
{
	min-width: 100px;
	text-align: center;

	margin: 0 5px;
}

input.modalDialogPath
{
	width: 100%;

	margin-top: 20px;

	outline: none;
}

input.modalDialogPath:focus
{
	border: 1px solid rgb(100,100,100);
	outline: none;
}

@media (max-width: 1200px)
{
    #headerTitle
    {
        font-size: 1.5em;
    }

    #headerButtons button
    {
        font-size: 1em;

        padding: .25em .75em;
    }
}